@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  font-family: "RocknRoll One", Arial, serif; /* Font used by Flipdish on project for client IroSushi */
  font-weight: 400;
}
